directory-main.exe 
directory-main.o 
Directory.cbp 
Directory.layout 
Directory.depend 
bin/* 
obj/* 
Directory_vs/Directory_vs.VC.VC.opendb 
Directory_vs/Directory_vs/example.txt 
Directory_vs/Directory_vs/sample.cpp 
AppToDeploy/* 
Directory-consoleapp/* 
