directory-main.exe 
directory-main.o 
Directory.cbp 
Directory.layout 
Directory.depend 
bin/* 
obj/* 
Directory_vs/Directory_vs.VC.VC.opendb 
Directory_vs/Directory_vs/example.txt 
Directory_vs/Directory_vs/sample.cpp 
AppToDeploy/* 
Directory-consoleapp/* 
NESREA_Intercom_Directory/.vs/* 
NESREA_Intercom_Directory/NESREA_Intercom_Directory.VC.db 
NESREA_Intercom_Directory/NESREA_Intercom_Directory* 
NESREA_Intercom_Directory/NESREA_Intercom_Directory.VC.db 
NESREA_Intercom_Directory/NESREA_Intercom_Directory.vcxproj.filters 
NESREA_Intercom_Directory/NESREA_Intercom_Directory.vcxproj 
NESREA_Intercom_Directory/Debug/NESREA_Intercom_Directory.log 
NESREA_Intercom_Directory/.vs/NESREA_Intercom_Directory/v14/.suo 
